<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.autocare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoCare">
		<activity
            android:name=".ServiceSearch"
            android:exported="true" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />
       <activity
            android:name=".Notification"
            android:exported="true" />
        <activity
            android:name=".UpdateService"
            android:exported="true" />
        <activity
            android:name=".UpdateActivity"
            android:exported="true" />
        <activity
            android:name=".Fill_Up_Selectvehicle"
            android:exported="true" />
        <activity
            android:name=".viewvehicle"
            android:exported="true" />
        <activity
            android:name=".entervehicledetail"
            android:exported="true" />
        <activity
            android:name=".editvehicaldetails"
            android:exported="true" />
        <activity
            android:name=".dailyearning"
            android:exported="true" />
        <activity
            android:name=".vehicle"
            android:exported="true" />
        <activity
            android:name=".ViewServiceDetails"
            android:exported="true" />
        <activity
            android:name=".ServiceInterface"
            android:exported="true" />
        <activity
            android:name=".AddService"
            android:exported="true" />
        <activity
            android:name=".Deletereminders"
            android:exported="true" />
        <activity
            android:name=".UpdateH"
            android:exported="true" />
        <activity
            android:name=".Updatedetails"
            android:exported="true" />
        <activity
            android:name=".Adddetails"
            android:exported="true" />
        <activity
            android:name=".Reminder"
            android:exported="true" />
        <activity
            android:name=".Fill_Up_Update"
            android:exported="true" />
        <activity
            android:name=".Fill_Up_Summary"
            android:exported="true" />
        <activity
            android:name=".Fill_Up_Add"
            android:exported="true" />
        <activity
            android:name=".Fill_Ups"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>